{% extends 'base.html' %}
{% load static %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}
{% block menu %}
        <header>
            <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
                <div class="container-fluid">
                    <a class="navbar-brand" href="{% url 'home' %}">CL</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'agendamento'%}">Agendamento</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'produtos'%}">Produtos</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'servicos' %}">Serviço</a>
                            </li>
                        </ul>
                        {% if user.is_authenticated %}
                            <div class="dropdown text-end">
                                <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                    <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="mdo" width="32" height="32" class="rounded-circle">
                                </a>
                                <ul class="dropdown-menu text-small" style="">
                                    <li><a class="dropdown-item" href="#">Perfil</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <button id="logout" class="btn" role="button" data-bs-toggle="button">Sair</button>
                                </ul>
                            </div>
                        {% else %}
                            <li class="d-flex">
                                <a class="btn btn-primary" href="{% url 'login' %}">Login</a>
                            </li>
                        {% endif %}
                    </div>
                </div>
            </nav>
        </header>
{% endblock %}