{% extends 'painel/dm_painel.html' %}
{% load static %}
{% block title %}Agendamentos{% endblock %}
{% block strong %}Agendamentos{% endblock %}

{% block iconeadd %}
    <a href="{% url 'criar_agendamento' %}" class="btn btn-link btn-rounded btn-sm fw-bold" data-mdb-ripple-color="dark">
        <i class="bi bi-plus-circle"></i>
        <span>Adicionar</span>
    </a>
{% endblock %}

{% block section %}
    <div>
        <table class="table align-middle mb-0 bg-white">
            <thead class="bg-light">
            <tr>
                <th>Serviço</th>
                <th>Data</th>
                <th>Horário</th>
                <th>Usuário</th>
                <th>Ações</th>
            </tr>
            </thead>
            <tbody>
            {% for agendamento in agendamentos %}
                <tr>
                    <td>{{ agendamento.servico.nome }}</td>
                    <td>{{ agendamento.data }}</td>
                    <td>{{ agendamento.horario }}</td>
                    <td>{{ agendamento.usuario.username }}</td>
                    <td>
                        <a href="{% url 'editar_agendamento' agendamento.id %}" class="btn btn-link btn-sm btn-rounded">
                            Editar
                        </a>
                        <a href="{% url 'deletar_agendamento' agendamento.id %}" class="btn btn-link btn-sm btn-rounded">
                            Excluir
                        </a>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="5">Não há agendamentos.</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}