{% extends 'base_templates/menu.html' %}
{% load static %}
{% block head_title %}Agendamento{% endblock %}
{% block head %}
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.js"></script>
{% endblock %}
{% block headextra %}{% endblock %}
{% block body %}
    
    {% block menu %}{% endblock %}
    {% include 'calendario_base.html' %}

{% endblock %}
{% block script %}
    <script type="application/javascript" src="{% static 'assets/dist/js/calendario.js'%}"></script>
{% endblock %}