{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    </head>
    <body>

        {% block menu %}{% endblock %}
        {% block body %}{% endblock %}
        {% block footer %}{% endblock %}
        <script type="application/javascript" src="{% static 'js/script.js' %}"></script>
        <script type="application/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    </body>
</html>