{% extends 'base_templates/menu.html' %}
{% load static %}
{% block head_title %}Cabeleleila Leila{% endblock %}
{% block body %}
    <main class="my-5">
        <div class="container">
            <!--Section: Content-->
            <section>
                <!-- Jumbotron -->
                <div id="intro" class="p-5 text-center bg-light shadow-5 rounded mb-5">
                    <h1 class="mb-3 h2">Cabeleleila Leila</h1>
                    <p class="mb-3">Faça já o seu agendamento!</p>
                    <div class="video_youtube">
                        <iframe width="952" height="521" src="https://www.youtube.com/embed/bvOgTtZriLo" title="cabeleileila leila - cabeleireira Leila original" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    </div>
                    {% if request.user.is_authenticated %}
                        <a class="btn btn-secondary btn-rounded" href="{% url 'calendario' %}" role="button" rel="nofollow" data-mdb-ripple-init
                           target="_blank">Agendar</a>
                    {% else %}
                        <a class="btn btn-info btn-rounded" href="{% url 'login' %}" target="_blank" data-mdb-ripple-init
                           role="button">Login</a>
                    {% endif %}
                </div>
                <!-- Jumbotron -->
            </section>
            <!--Section: Content-->
        </div>
    </main>
{% endblock %}