<style>
    body {
      font-family: Arial, sans-serif;
      background: #f2f2f2;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
      margin: 0;
    }

    .form-container {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      background: #fff;
      width: 300px;
      margin: auto;
      padding: 20px;
      border-radius: 10px;
    }

    h1 {
      text-align: center;
    }

    form {
      margin-bottom: 20px;
    }

    label {
      display: block;
      margin-bottom: 8px;
    }

    input {
      padding: 10px;
      width: 100%;
      border: 1px solid #ccc;
      border-radius: 5px;
      margin-bottom: 12px;
      box-sizing: border-box;
    }

    button {
      padding: 12px 15px;
      background: #007bff;
      color: #fff;
      border: none;
      border-radius: 5px;
      margin-top: 10px;
      cursor: pointer;
      display: block;
      width: 100%;
    }

    button:hover {
      background: #0056b3;
    }

    p {
      text-align: center;
      margin-top: 10px;
    }

    a {
      color: #007bff;
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
    }
</style>

<div class="form-container">
    <h1>Login</h1>
    <form method="post">

      <label for="username">Usuário:</label>
      <input type="text" name="username" id="username" required>

      <label for="password">Senha:</label>
      <input type="password" name="password" id="password" required>

      <button type="submit">Entrar</button>
    </form>

    <p>Ainda não tem conta? <a href="{% url 'cadastro' %}">Cadastre-se</a></p>
</div>
