{% extends 'base.html' %}
{% load static %}
{% block menu %}
<a href="www.google.com" style="font-family: Arial, sans-serif; color: #0066CC; text-decoration: none;">Home</a> | <a href="www.google.com" style="font-family: Arial, sans-serif; color: #0066CC; text-decoration: none;">Produtos</a> | <a href="www.google.com" style="font-family: Arial, sans-serif; color: #0066CC; text-decoration: none;">Serviços</a>

{% endblock %}

{% block footer %}
<p style="font-family: Arial, sans-serif;text-align: center; font-style: italic;">Desenvolvido pela turma de LC 2021!</p>
{% endblock %}