{% extends 'base.html' %}
{% load static %}
{% block menu %}
<!--<div class="cabecalho">
    <div class="itens_top">
        <a href="{% url 'home' %}">Home</a>
        | <a href="{% url 'produtos'%}">Produtos</a>
        | <a href="{% url 'servicos' %}">Serviços</a>
        | <a href="{% url 'agendamento' %}">Agendamento</a>
    </div>
    <a href="{% url 'login' %}" class="botao_login">Login</a>
</div>-->
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home' %}">CL</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'agendamento'%}">Agendamento</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'produtos'%}">Produtos</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Serviços
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'servicos' %}">Serviço</a></li>
            <li><a class="dropdown-item" href="#">Outro Serviço</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Qualquer coisa aqui</a></li>
          </ul>
        </li>
      </ul>
      <li class="d-flex">
          <a class="btn btn-primary" href="{% url 'account_login' %}">Login</a>
        </li>
    </div>
  </div>
</nav>
{% endblock %}

{% block footer %}
  <footer class="container">
    <hr class="mt-5 mb-4">
      <p class="float-end"><a href="#">Ir para o topo</a></p>
      <p class="text-muted">© 2024 Cabeleleila Leila · <a href="#">Privacidade</a> · <a href="#">Termos</a></p>
  </footer>
{% endblock %}