{% extends 'base.html' %}
{% load static %}
{% block menu %}
<div class="cabecalho">
    <div class="itens_top">
        <a href="{% url 'home' %}">Home</a>
        | <a href="{% url 'produtos'%}">Produtos</a>
        | <a href="{% url 'servicos' %}">Serviços</a>
        | <a href="{% url 'agendamento' %}">Agendamento</a>
    </div>
    <a href="{% url 'login' %}" class="botao_login">Login</a>
</div>
{% endblock %}

{% block footer %}
<br><br>

<p class="paragrafo_rodape">Leila cabeleileiros, o salão de cabeleireiro da Cabeleileila Leila.</p>
{% endblock %}