{% extends 'base_templates/menu.html' %}
{% load static %}
{% block head_title %}Cabeleleila Leila | Produtos{% endblock %}
{% block body %}
    <main class="my-5">
        <div class="container">
            <!--Section: Content-->
            <section>
                <!-- Jumbotron -->
                <div id="intro" class="p-5 text-center bg-light shadow-5 rounded mb-5">
                    <h1 class="mb-3 h2">Cabeleleila Leila</h1>
                </div>
                <!-- Jumbotron -->
            </section>
            <!--Section: Content-->
            <div class="text-center">
                <div class="py-5">
                    <div class="mx-auto">
                        <p class="">Descubra a excelência em cuidados capilares com a Cabeleleila Leila! Selecione seu produto e transforme seus cabelos em uma obra-prima deslumbrante. Nossa missão é realçar a sua beleza natural, oferecendo produtos que não apenas cuidam, mas também elevam a experiência de cuidados com os cabelos.</p>
                        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                            <p class="">Escolha a Cabeleleila Leila e experimente a diferença que fazemos em cada fio. Selecione seu produto com a Cabeleleila Leila e descubra um mundo de possibilidades para cabelos irresistíveis. A beleza começa aqui!</p>
                        </div>
                    </div>
                </div>
            </div>


            <div class="album py-5 bg-body-tertiary">
                <div class="container">
                    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                        {% for produto in produtos %}
                            <div class="col">
                                <div class="card shadow-sm">
                                    <div class="image-container">
                                        {% if produto.imagem %}
                                            <img src="{{ produto.imagem.url }}" alt="{{ produto.nome }}">
                                        {% else %}
                                            <img src="{% static 'imagens/padrao_produto.jpeg' %}" alt="Imagem Padrão Produto">
                                        {% endif %}
                                    </div>
                                    <div class="card-body">
                                        <p class="card-text">
                                            {{ produto.nome }}
                                            <br>
                                        </p>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <p>{{ produto.descricao }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}