{% extends 'base_templates/menu.html' %}
{% load static %}
{% block head_title %}Cabeleleila Leila | Produtos{% endblock %}
{% block body %}
    <main class="my-5">
        <div class="container">
            <!--Section: Content-->
            <section>
                <!-- Jumbotron -->
                <div id="intro" class="p-5 text-center bg-light shadow-5 rounded mb-5">
                    <h1 class="mb-3 h2">Cabeleleila Leila</h1>
                </div>
                <!-- Jumbotron -->
            </section>
            <!--Section: Content-->
            <div class="text-center">
                <div class="py-5">
                    <div class="mx-auto">
                        <p class="">Agende seu serviço com a Cabeleleila Leila!</p>
                        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                            <p class="">Profissionais mais capacitados, para sucesso e qualidade nos serviços!</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container marketing">
                <div class="row">
                    {% for servico in servicos %}
                        <div class="col-lg-4">
                            <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Espaço reservado" preserveAspectRatio="xMidYMid slice" focusable="false">
                                <image xlink:href="{% static 'imagens/padrao_produto.jpeg' %}" x="-35" y="-25" height="150%" width="150%" />
                            </svg>
                            <h2 class="fw-normal">{{ servico.nome }}</h2>
                            <p>{{ servico.descricao }}</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </main>
{% endblock %}