{% extends 'menu.html' %}
{% load static %}
{% block title %}Serviços{% endblock %}
{% block body %}
<style>
    body {
      font-family: Arial, sans-serif;
    }

    h1 {
      font-family: Arial, sans-serif;
      color: #333;
      font-size: 32px;
      text-align: center;}

    h2 {
      font-family: Arial, sans-serif;
      text-align: center;
      font-style: italic;}

    .servicos {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    .servico {
      width: 300px;
      border: 1px solid #ccc;
      margin: 1rem;
      padding: 1rem;
    }

    .servico h3 {
      margin-top: 0;
    }

    .servico .preco {
      font-weight: bold;
      text-align: right;
    }

</style>

<h1>Cabeleleila Leila</h1>
<h2>Agende seu serviço com a Cabeleleila Leila</h2>
<h2>Nossos Serviços</h2>

<div class="servicos">

    <div class="servico">
        <h3>Serviço 1</h3>
        <p>Descrição</p>
        <p class="preco">R$ 3500,00</p>
    </div>

    <div class="servico">
        <h3>Serviço 2</h3>
        <p>Descrição</p>
        <p class="preco">R$ 6.500,00</p>
    </div>

    <div class="servico">
        <h3>Serviço 3</h3>
        <p>Descrição</p>
        <p class="preco">R$ 2.000,00</p>
    </div>

</div>

{% endblock %}