{% extends 'menu.html' %}
{% load static %}
{% block head_title %}Serviços{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/carousel.css' %}">
{% endblock %}
{% block body %}


<div class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary">
    <div class="col-lg-6 px-0">
      <h1 class="display-4 fst-italic">Cabeleleila Leila - Serviços</h1>
      <p class="lead my-3">Agende seu serviço com a Cabeleleila Leila!</p>
        <p class="lead my-3">Profissionais mais capacitados, para sucesso e qualidade nos serviços!</p>
    </div>
  </div>



<div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
          <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Espaço reservado" preserveAspectRatio="xMidYMid slice" focusable="false">

              <image xlink:href="https://i.pinimg.com/564x/2b/ff/b4/2bffb47c8cf99ace23c91df7881ba747.jpg" x="-35" y="-25" height="150%" width="150%" />

          </svg>
        <h2 class="fw-normal"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Cortes</font></font></h2>
        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> Feminino, Masculino e Infantil. </font></font></p>
        <p><a class="btn btn-secondary" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Ver mais!</font></font></a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
          <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Espaço reservado" preserveAspectRatio="xMidYMid slice" focusable="false">

              <image xlink:href="https://i.pinimg.com/564x/a8/cf/11/a8cf11b19d30ada3f35c0535aa420853.jpg" x="-22" y="-25" height="150%" width="150%" />

          </svg>
          <h2 class="fw-normal"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Escova</font></font></h2>
        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Tradicional, Progressiva e Definitiva.</font></font></p>
        <p><a class="btn btn-secondary" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Ver mais!</font></font></a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
          <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Espaço reservado" preserveAspectRatio="xMidYMid slice" focusable="false">

              <image xlink:href="https://i.pinimg.com/564x/64/62/e8/6462e846f5210c0e70819477580a7d08.jpg" x="-" y="-25" height="150%" width="150%" />

          </svg>
          <h2 class="fw-normal"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Tratamento Capilar</font></font></h2>
        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Hidratação e Reconstrução.</font></font></p>
        <p><a class="btn btn-secondary" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Ver mais!</font></font></a></p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->

  <hr class="featurette-divider">

  <div class="row">
      <div class="col-lg-4">
          <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Espaço reservado" preserveAspectRatio="xMidYMid slice" focusable="false">

              <image xlink:href="https://i.pinimg.com/564x/17/54/40/1754409c32115a777f6643865b2e1a75.jpg" x="-35" y="-25" height="150%" width="150%" />

          </svg>
          <h2 class="fw-normal"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Serviços Especiais</font></font></h2>
        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Mega Hair, Apliques e Aluguel de Apliques.</font></font></p>
        <p><a class="btn btn-secondary" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Ver mais!</font></font></a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
          <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Espaço reservado" preserveAspectRatio="xMidYMid slice" focusable="false">

              <image xlink:href="https://i.pinimg.com/564x/2f/82/62/2f826223a1a3eb5a0ccf6852bc90839d.jpg" x="-20" y="-50" height="150%" width="150%" />

          </svg>
          <h2 class="fw-normal"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Químicas em Geral</font></font></h2>
        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Coloração, Balayagem, Mechas, Mechas Californianas e Reflexos.</font></font></p>
        <p><a class="btn btn-secondary" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Ver mais!</font></font></a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
          <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Espaço reservado" preserveAspectRatio="xMidYMid slice" focusable="false">

              <image xlink:href="https://i.pinimg.com/564x/11/e7/1c/11e71ccb44e0fa7cdf1dadd2cb8a9148.jpg" x="-35" y="0" height="150%" width="150%" />

          </svg>
          <h2 class="fw-normal"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Maquiagem</font></font></h2>
        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Fazemos maquiagens para todos os tipos de eventos e para o seu dia a dia. Temos cílios postiços.</font></font></p>
        <p><a class="btn btn-secondary" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Ver mais!</font></font></a></p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->


      </div>
    </div>
  </div>



{% endblock %}