/*CARROSSEL*/
.carousel-caption {
    color: #fff;
}

.carousel-inner {
    height: 470px;
}

.carousel-item {
    height: 100%;
}

.d-block {
    height: 100%;
    object-fit: cover;
    object-position: bottom;
    filter: brightness(70%);
}



/*.form-control-dark {
    border-color: var(--bs-gray);
}
.form-control-dark:focus {
    border-color: #fff;
    box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
}

.text-small {
    font-size: 85%;
}

.dropdown-toggle:not(:focus) {
    outline: 0;
}
*/