/*CARROSSEL*/
.carousel-caption {
    color: #fff;
}

.carousel-inner {
    height: 470px;
}

.carousel-item {
    height: 100%;
}

.d-block {
    height: 100%;
    object-fit: cover;
    object-position: bottom;
    filter: brightness(70%);
}

.image-container {
    width: 100%;
    padding-bottom: 100%;
    position: relative;
    overflow: hidden;
}

.image-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Modo Escuro (Dark Mode) */
body.dark-mode {
    background-color: rgb(40, 36, 61);
    color: #fff; /* Cor do texto para contraste */
}

/* Modo Claro (Light Mode) */
body.light-mode {
    background-color: #F4F5FA;
    color: #333; /* Cor do texto para contraste */
}


/*.form-control-dark {
    border-color: var(--bs-gray);
}
.form-control-dark:focus {
    border-color: #fff;
    box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
}

.text-small {
    font-size: 85%;
}

.dropdown-toggle:not(:focus) {
    outline: 0;
}
*/